.calc{
  margin: 0 auto;
  width: 35vw;
}

.display{
  margin: 5px;
  border: 1px solid rgb(104, 103, 103);
  border-radius: 5px;
  height: 8vh;
  display:flex;
}
.displayNumber{
  margin:auto 5px 5px auto;
  font-size: 36px;
}

.wrapper{
  display:grid;
  grid-template-columns: repeat(7,1fr);
  grid-template-rows: repeat(5,1fr);
  grid-gap: 1em;
}
